body {
	background-color:#ADD8E6; 
}
/*
form.f {
	width: 50%;
	margin: 30px auto;
	padding-left: 5%;
	
}  */

.frm {

	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
  	margin-left: 30%;
  	margin-right: 30%;

}

a {

  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#container {
    width: 100%;
	max-width: 500%; 
}
li {
	margin-top: 10%;

}
/*
#contain {
	 border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
  	width:50% center;
  	margin-left: 20%;
  	margin-right: 20%;
}
*/

#title {
	color:white;
	width: 50%;
	margin: 30px auto;
	text-align: center;
	background-color: #273746 ;
	border: 2px solid black;
	border-radius: 20px;
}
/*
#tasks {
	width: 80%;
	padding: 10px;
	border: 2px solid black;
}

#due {
	width: 75%;
	padding: 10px;
	border: 2px solid black;
}  */

input[type=text],input[type=date],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/*
#submit {
	width: 35%;
	height: 30px;
	color: white;
	background-color: green;
	border: 2px solid black;
	border-radius: 5px;
	padding: 6px 20px;
	margin-left: 25%;
}
*/

#tbltoday {
	width: 90%;
	margin:30px auto;
	
	
}

#tbl {
	
	width: 70%;
	margin:30px auto;
	
}
tr {
	border-bottom: 1px solid black;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: white;
}

th {
	/* background-color: #273746;
	   color: white; */
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #273746;
	  color: white;

}
td {
	color: black;
}

th,td {
	border: 1px solid #ddd;
  	padding: 8px;
	/*text-align: center;
	padding: 15px;*/
	
}
body.modal-open #container {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}





